<div *ngIf="task">
    <h2>{{task.name | uppercase}} Details</h2>

    <mat-label>id: {{task.id}}</mat-label>
    <mat-form-field>
    <div>
        <mat-label for="task-name">Name </mat-label>
        <input matInput id="task-name" [(ngModel)]="task.name" placeholder="name">
    </div>
    </mat-form-field>
    <mat-form-field>

    <div>
        <mat-label for="task-description">Description </mat-label>
        <input matInput id="task-description" [(ngModel)]="task.description" placeholder="description">
    </div>
    </mat-form-field>
    <mat-form-field>

    <div>
        <mat-label for="task-duration">Duration </mat-label>
        <input type="number" matInput id="task-duration" [(ngModel)]="task.duration" placeholder="duration">
    </div>
    </mat-form-field>

    <mat-label>Prerequisite</mat-label>

    <mat-list>
        <mat-list-item *ngFor="let pre_task of task.prerequisite" >{{pre_task.name}}</mat-list-item>
    </mat-list>

</div>
<button type="button" (click)="save()">save</button>
<button type="button" (click)="goBack()">go back</button>