<h2>Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks">
    <a routerLink="/detail/{{task.id}}">
    <span class="badge">{{task.id}}</span> {{task.name}}
    </a>
  </li>
</ul>


  <label for="new-task">Name: </label>
  <input id="new-task" #taskName placeholder="name"/>

  <label for="new-task">Description: </label>
  <input id="new-task" #taskDescription placeholder="description"/>

  <label for="new-task">Duration: </label>
  <input id="new-task" #taskDuration placeholder="minutes" type="number"/>

  
  <mat-form-field>

    <mat-label for="new-task">Prerequisite</mat-label>
      <mat-select  multiple>
        <mat-option *ngFor="let task of tasks" [value]="task">{{task.name}}</mat-option>
      </mat-select>
  </mat-form-field>

  <button type="button" class="add-button" (click)="
    add(taskName.value, taskDescription.value, taskDuration.value, []);
    taskName.value='';
    taskDescription.value='';
    taskDuration.value='';">
  Add Task
  </button>
