<h2>Tasks</h2>

<ul class="tasks">
  <li *ngFor="let task of tasks">
    <a routerLink="/detail/{{task.id}}">
    <span class="badge">{{task.id}}</span> {{task.name}}
    </a>
  </li>
</ul>

<form class="input-task">
  <div class="input-task-field">
    <label>name</label>
    <input matInput #taskName >
  </div>

  <div class="input-task-field">
    <label>description</label>
    <input matInput #taskDescription >
  </div>

  <div class="input-task-field">
    <label>duration</label>
    <input type="number" matInput #taskDuration >
  </div>
  
  <label for="new-task">Prerequisite</label>
    <select multiple [value]="selectedPrerequisite" >
      <option *ngFor="let task of tasks" [value]="task" >{{task.name}}</option>
    </select>

</form>
  <button type="button" class="add-button" (click)="
    add(taskName.value, taskDescription.value, taskDuration.value);
    taskName.value='';
    taskDescription.value='';
    taskDuration.value='';">
  Add Task
  </button>
